// app global css in SCSS form
$primary: #fae19a;
$secondary: #fefee4;
$error: #ea5f40;
$error--base: #cc0606;
$error--text: #bd0303;
$success: #cee741;
$success--base: #8fd14f;
$success--text: #098c29;
$warning: #f0e150;
$warning--base: #fac710;
$warning--text: #bb9a30;
$info: #4de8ee;
$info--base: #12cdd4;
$info--text: #07578c;
$neutrals-100: #141415;
$neutrals-80: #24231e;

h1 {
  font-family: "Fredoka One", cursive;
}

$input: (
  font-weight: bold,
  font-size: 0.8rem,
  color: $neutrals-100,
);

$btn-default: (
  color: $primary,
  background-color: $neutrals-80,
);

$btn-outlined: (
  color: $neutrals-80,
);
